/* ======= INDEX ======= */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.otf'); /* IE9 Compat Modes */
}

html, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif !important;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0px !important;
}

hr {
  margin: 0;
}

p {
  color: #555;
}

input, textarea {
  border: 1px solid #e7e7e7 !important;
}

a {
  color:inherit;
  transition: color .3s ease-out;
}

a:hover {
  color: #0a6ea2;
  text-decoration: none;
}
button {
  border-color: rgba(68,68,68, 0.2) !important;
  border-style: solid  !important;
  border-width: 2px !important;
  background: none;
  color: #222;
}

.noMarg {
  margin: 0;
}

.noMargT {
  margin-top: 0;
}

@media screen and (max-width: 786px) {
  .hideMobile {
    display: none;
  }
}

#Page-container {
}

.hidePage {
  opacity: 0;
}

.showPage {
  opacity: 1;
  transition: all 1s ease-in;
}

.darken {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background: #00000021;
}

.upCase {
  text-transform: uppercase;
}

/* ======= Nav ======= */
#Nav {
  text-align: center;
}

.active {
  color: rgb(150, 150, 150)!important;
}

.Nav-links {
  padding: 20px 0px;
  display: block;
  min-height: 148px;
}

@media screen and (max-width: 768px) {
  .Nav-links {
    font-size: 1em;
    font-weight: 400;
  }
}

.Nav-links > ul > li {
  border-right: 1px solid black;
  padding: 10px 30px;
  display: inline-block;
}

.Nav-links > ul > li:last-of-type, .Nav-links > ul > li:nth-of-type(2) {
  border-right: none;
}

.Nav-links > ul > li > a {
  text-decoration: none;
  color: #222;
}

#Nav-brand {
  border-left: 1px solid black;
}

#Nav-brand > img {
  max-height: 82px;
}

#Nav-mobile {
  padding: 20px;
  background: white;
  z-index: 2;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 4px 0px #4c4c4c42;
}
#Nav-mobile img {
  position: absolute;
  top: 8px;
  right: 20px;
  max-height: 40px;
}


#Nav-mobileUl {
  transform: translateY(-150%);
  position: fixed;
  background: white;
  width: 100%;
  transition: transform .3s ease-out;
  z-index: 2;
  top: 57px;
}

#Nav-mobileUl.open {
  box-shadow:  0px 2px 4px 0px #4c4c4c42;
  transform: translateY(0);
}

#Nav-mobileUl > li > a {
  text-decoration: none;
  color: #404040;
}

#Nav-mobileUl > li {
  padding: 10px;
  position: relative;
}

#Nav-mobileUl > li > a:before {
  content: '';
  position: absolute;
  /* left: 12.5px; */
  bottom: -2px;
  width: calc(100% - 25px);
  height: 3px;
  background-color: #f5f6f7;
  transform: scale(0, 1);
  transform-origin: 0 50%;
  transition: 350ms;
}

#Nav-mobileUl > li > a:not(.active):hover:before{
  transform: scale(0.25, 1);
}

#Nav-largeUl {
  transition: background .5s;
}

#Nav-largeUl.attached {
  box-shadow: 0px -4px 10px rgba(50, 50, 50, .7);
  z-index: 1;
  position: fixed;
  background: white;
  width: 100%;
  top: 0px;
  padding: 20px 0px;
}

#Nav-largeUl.attached #Nav-brand {
  font-size: 2em;
}


.nav-li {
  cursor: pointer;
}

#NavMobile {
  box-shadow: 0px 2px 4px 0px #4c4c4c42;
  width: 100%;
  background: white;
  position: fixed;
  transition: .3s ease-out;
  transform: translateY(-300px);
}

#Nav-mobile-hr {
  display: none;
}

.ham {
  display:none;
  width: 22px; height: 17px; position: relative; transform: rotate(0deg);
}
.ham span:nth-of-type(1){
  display: block; height: 2px; width: 100%; background: black; transition-timing-function: ease; transition-duration: 0.5s; border-radius: 0px; transform-origin: center center 0px; position: absolute; transform: translate3d(0px, 0px, 0px) rotate(0deg); margin-top: -1px;
}
.ham span:nth-of-type(2){
  display: block; height: 2px; width: 100%; background: black; transition-timing-function: ease-out; transition-duration: 0.125s; border-radius: 0px; transform-origin: center center 0px; position: absolute; opacity: 1; top: 8.5px; margin-top: -1px;
}
.ham span:nth-of-type(3){
  display: block; height: 2px; width: 100%; background: black; transition-timing-function: ease; transition-duration: 0.5s; border-radius: 0px; transform-origin: center center 0px; position: absolute; transform: translate3d(0px, 17px, 0px) rotate(0deg); margin-top: -1px;
}

.clicked span:nth-of-type(1){
  display: block; height: 2px; width: 100%; background: black; transition-timing-function: ease; transition-duration: 0.5s; border-radius: 0px; transform-origin: center center 0px; position: absolute; transform: translate3d(0px, 8.5px, 0px) rotate(45deg); margin-top: -1px;
}
.clicked span:nth-of-type(2){
  display: block; height: 2px; width: 100%; background: black; transition-timing-function: ease-out; transition-duration: 0.125s; border-radius: 0px; transform-origin: center center 0px; position: absolute; opacity: 0; top: 8.5px; margin-top: -1px;
}
.clicked span:nth-of-type(3){
  display: block; height: 2px; width: 100%; background: black; transition-timing-function: ease; transition-duration: 0.5s; border-radius: 0px; transform-origin: center center 0px; position: absolute; transform: translate3d(0px, 8.5px, 0px) rotate(-45deg); margin-top: -1px;
}

@media screen and (max-width: 768px) {
  .ham {
    display: block;
  }
  .Nav-links {
    display: none;
  }
  #Nav {
    box-shadow: 0px 2px 4px 0px #4c4c4c42;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 99;
  }
  #Nav > hr {
    display: none;
  }
  #NavMobile {
    z-index: 98;
    margin-top: -1px;
  }
  #NavMobile > ul > li{
    padding: 10px 15px;
  }
  #Nav-brand {
    border: none;
  }
}

@media screen and (max-width: 768px){
  #Home {
    margin-top: 58px;
  }
}

/* ======= Footer ======= */

#Footer {
  padding: 2rem;
}

#Footer-contact > p {
  margin-bottom: 5px;
}

#Footer-contact i{
  margin-right: .5rem;
}

#Footer-contact > p:nth-of-type(2) > i {
  margin-left: 2px;
  margin-right: .75rem;
}


.fa-map-marker-alt {
  margin-bottom: 66px;
  float: left;
  margin-right: 5px;
}



/* ======= CONTACT ======= */

#ContactForm button {
  border-color: rgba(68,68,68, 0.2);
  border-style: solid;
  border-width: 2px;
  background: none;
  color: #222;
}

#Contact-img {
  width: 400px;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0px 10px 29px -6px grey;
}

@media screen and (max-width: 768px){
  #Contact-img {
    width: 330px;
    margin: 1rem 0 2rem 0;

  }
}

.section-title {
  margin-bottom: 2rem;
}

/* ======= CARE ======= */

@media screen and (max-width: 768px){
  #care > div > div:nth-of-type(1){
    order: 2;
  }
}

/* ======= Hero ======= */

#TopHero {
  /* background: url('../images/spreadWhite.jpg'); */
  /* background-size: 600px; */
  background-repeat: no-repeat;
  background-position-y: -137px;
  background-position-x: center;
  /* min-height: 400px; */
  /* padding: 75px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


#TopHero-slogan {
  text-align: center;
  text-shadow: 1px 0px 3px #6e6e6e29;
  color: #035C89;
  padding: 30px;
  background: #d3d3d31f;
  margin-bottom: 0px;
}

#TopHero-slogan > em {
  text-decoration: underline;
}

@media screen and (max-width: 786px){
  #TopHero {
    background-size: 450px;
    background-position-y: -99px;
    min-height: 300px;
  }

  #TopHero-slogan {
    font-size: 2em;
  }
}

.d-block { 
  margin: 0 auto;
}
.carousel-inner .carousel-item {
  padding: 2rem;
  min-height: 400px;
}

 .carousel-inner img {
  margin: -100px auto;
  max-width: 552px;
  border-radius: 6px;
  box-shadow: 0px 10px 29px -6px grey;
}

@media screen and (max-width: 768px){
  .carousel-inner .carousel-item {
    min-height: 0px;
    padding: 0 0 2rem 0;
  }
  .carousel-inner img {
    margin: 0px auto;
    max-width: 330px;
  }
}

/* .carousel-inner .carousel-item:nth-of-type(2){
  height: 400px;
  background: url('../images/021.png');
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: -170px;
  background-position-y: -610px;
  background-size: 1589px;
}
.carousel-inner .carousel-item:nth-of-type(3){
  height: 400px;
  background: url('../images/046.png');
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 311px;
  background-position-y: -313px;
  background-size: 1280px;
}  */


/*======= ROW =======*/
.Row {
  /* margin: 20px 0px; */
  margin: 2rem 0;
}

.Row-image {
  max-width: 330px;
  border-radius: 6px;
  box-shadow: 0px 10px 29px -6px grey;
}

.Row-p {
  padding-top: 10px;
}

@media screen and (max-width: 768px){
  .Row-image {
    margin-bottom: 2rem;
  }
}


/*======= CURRENT STYLES =======*/
.currentStyles > img {
  max-height: 330px;
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 0px 10px 29px -6px grey;
  margin-bottom: 20px;
}

.currentStyles button {
  padding: 4px 10px;
}

.currentStyles > p {
  margin-bottom: 5px;
}

#currentStyles {
  opacity: 0;
  transition: .5s ease-in;
}

@media screen and (max-width: 768px){
  .currentStyles {
    margin-bottom: 2rem;
  }
  .currentStyles:nth-of-type(3){
    margin-bottom: 0;
  }
}
/* ======= ABOUT ======= */
#about p:nth-of-type(3), #about p:nth-of-type(4){
  margin: 0px 1.5rem 1rem 1.5rem;
}

/*======= TRANSITIONS =======*/
#currentStyles.show {
  opacity: 1;
}

.slideInRight {
  transition: transform .5s ease-in-out;
}

.slideInRight.out {
  transform: translateX(1000px);
  display: none;
  
}
.slideInRight.in {
  transform: translateX(0);
  display: block;
}

.slideInLeft {
  transition: transform .5s ease-in-out;
}

.slideInLeft.out {
  transform: translateX(-1000px);
  display: none;
  
}
.slideInLeft.in {
  transform: translateX(0);
  display: block;
}

#wholeSale { 
  padding: 25px 25px;
  background: #d3d3d31f;
  text-align: center;
}

.btnShadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.btnShadow:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*======= BACKEND =======*/

#mainBackend {
  margin-bottom: 50px;
}

.avatar-pic {
  height: 200px;
}


#currentImgs > div{
  float:left;
  text-align: center;
  padding: 15px;
}

#currentImgs > div > button{
  display: inline-block;
  margin: auto;
}

#currentImgs input{
  display: block;
  margin: auto;
}


#currentImgs > div > img, #modalImg {
  width: auto;
  display: block;
  max-height: 488px;
  max-width: 100%;
  box-shadow: 0px 10px 29px -6px grey;
}